body {
	background-image: url(../img/4.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	font-family: "Megrim", cursive;
	text-align: center;
	font-size: 4em;
	padding: 15px;
}

img {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.container {
	margin: 3% auto 3% auto;
	background-color: white;
	border-radius: 1%;
}

div div {
	margin: 20px;
}
