#index-sidebar {
	cursor: default;
}

#portfolio-container .row {
	margin-left: 1.5%;
}

#about-img {
	width: 35%;
	height: 35%;
	margin-left: 32%;
	margin-right: 32%;
}

#about-container div {
	margin: 3%;
}

#about-container h2 {
	text-align: center;
}

.left {
	float: left;
	background-color: white;
	width: 20%;
	height: 500px;
}

.right {
	float: right;
	background-color: white;
	width: 80%;
	height: 500px;
	margin-bottom: 3%;
}

.right p {
	margin-right: 5%;
}